#app, body {
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    
}

#titulo {
    background-image: url('../images/fondoTitulo.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}

.menuGeneral {
    font-size: 20px;
}

footer>div>a {
    width: 75px;
}

.altura {
    height: 100vh;
}